﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Licence.aspx.cs" Inherits="NugetServer.Local.Licence" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h1>Licence</h1>
    </div>
    </form>
</body>
</html>
